* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  background: #bdbcbc;

  /* color: #fff; */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  z-index: 111111111;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 5px;
}
.container {
  width: 90%;
  margin: 0px auto;
}

.body {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 20%;
  background: #f3f3f3;
  height: 100vh;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0px #a5a5a5;
  margin-right: 8px;
}
.content {
  width: 80%;
  /* position: relative; */
  /* background: #17254e; */
  overflow-y: auto;
  height: 100vh;
  margin-right: 8px;
}

/* Sidebar CSS */
.sidebar-logo {
  text-align: center;
}
.sidebar-logo > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.sidebar-logo > h3 {
  font-size: 18px;
}
.sidebar-logo > p {
  font-size: 13px;
}
.sidebar > div {
  margin-top: 15px;
  border-bottom: 1px solid #cecece;
  padding: 10px;
}
.sidebar > div > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: 600;
}
.sidebar > div > li > span {
  font-weight: 400 !important;
  color: rgb(0, 75, 85);
}
.sidebar > div > button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
}
.sidebar > div > button:hover {
  background-color: rgb(0, 255, 221);
}
/* Navbar CSS */
.navbar {
  background: #e9e8e8;
  box-shadow: 5px 0px 4px 0px #2b2a2a;
  padding: 20px 0px;
  width: 80%;
  position: fixed;
  color: #000;
  z-index: 11111111;
}
.navbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 30%;
}
.logo a {
  display: flex;
  align-items: center;
  color: #000;
}
.logo p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.07em;
}
.logo img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.nav-menu > li {
  display: inline-block;
  margin-right: 25px;
}

.nav-menu > li > a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.nav-menu > li > a:hover {
  border-bottom: 2px solid tomato;
}
.nav-menu > li > a:focus {
  border-bottom: 2px solid tomato;
}

.social-link {
  margin-top: 5px;
}
.social-link > li {
  display: inline-block;
}
.social-link > li > a > img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.social-link > li > a:hover > img {
  transform: rotate(360deg);
  transition: 850ms;
}

/* Contact */
.contact {
  margin-top: 80px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.contact-box {
  width: 80%;
  box-shadow: 0px 0px 15px 0px #a5a5a5;
  padding: 20px;
  background: #e9e8e8;

  border-radius: 15px;
  /* margin: 0px auto; */
}
.contact-box > p {
  margin-top: 10px;
  color: #2b2a2a;
  width: 90%;
}
form > div {
  width: 90%;
  margin-top: 20px;
}
form > div > p {
  font-weight: 700;
  margin-bottom: 5px;
}
form > div > input {
  width: 100%;
  padding: 10px 4px;
}
form > div > input::placeholder {
  font-size: 16px;
}
form > div > button {
  margin: 0px auto;
  display: block;
  padding: 8px 36px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #000;
}
/* Footer CSS */
.footer {
  margin-top: 20px;
  padding: 10px 0px;
  background: #e9e8e8;
  text-align: center;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    width: 27%;
  }
  .content {
    width: 73%;
  }
  .navbar {
    width: 73%;
  }
  .social-link {
    display: none;
  }
}
